*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: Lato, Helvetica, sans-serif;
	background: linear-gradient(45deg, #4ba0d9, #6dd5fa, #ffffff);
	padding: clamp(20px, 5vw, 50px) 20px 10px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 25rem;
  max-width: 25rem;
	/* height: 40rem; */
	background-image: url("./ressources/gradient.jpg");
  background-size: cover;
  color: #333;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
  border-radius: 10px;
	align-items: center;
  padding-top: 3rem;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}

h1 span {
  font-weight: bold;
}

.bloc-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin-bottom: 40px;
  /* position: relative */
}

.weather-logo {
  transform: scale(1.4);
  width: 150px;
  border-radius: 50%;
}

.temperature {
  font-size: 55px;
  font-weight: bolder;
}

.location {
  font-size: 32px;
  font-weight: 300;
  word-break: break-all;
}
.forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: solid 1px #333;
  background-color: white;
  border-radius: 25px 25px 10px 10px;
}

.hour-tabs {
  display: flex;
}
.day-tabs {
  display: flex;
}